@import model._

@(blogs: List[Blog], user: User) @main("Admin") {

    @if(flash.contains("success")) {
        <p>
        @flash.get("success")
        </p>
    }

    <h4>My blogs:</h4>
    @for(blog <- blogs) {
        <p>Blog: @blog.getName</p>
        <ul>
            @for(post <- blog.getPosts) {
                <li>@post.getName <a href="@routes.AdminsPosts.edit(post.getRid.toString)">edit</a></li>
            }
        <li><a class="btn" href="@routes.AdminsPosts.create(blog.getName)">Create new post</a> as @user.getName</li>
        </ul>

    }
    <p> <a class="btn" href="@routes.AdminsBlogs.create()">Create new blog</a> as @user.getName</p>

}
