@import models._
@import com.feth.play.module.pa.views.html._

@(posts: List[Post]) @main("Administration") {

@*Top panel*@
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <nav class="uk-navbar uk-margin-large-bottom" >
        <div class="uk-navbar-flip uk-margin-small-top uk-margin-small-bottom uk-margin-small-right">
            @currentAuth() { auth =>
            @if(auth != null) {
            <div class="uk-button-group">
                @*********************
                * rem it             *
                *********************@
                <a class="uk-button uk-button-primary" href="@routes.Application.admin()">@Application.getLocalUser(session).getName</a>

                <a class="uk-button uk-button-primary" href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout                                                                                                                                                                                                                                                                                                    ">
                    Exit</a>
            </div>
            } else {
            @forProviders() { p =>
            <a class="uk-button uk-button-primary" href="@p.getUrl()">Login with @p.getKey()</a>

            }
            }
            }
        </div>
    </nav>

    <div class="container">

        @if(flash.contains("success")) {
        <p>
            @flash.get("success")
        </p>
        }

        <h4>My posts:</h4>


        <ul>
            @for(post <- posts) {
            <li>@post.getTitle <a href="@routes.Posts.edit(post.getId)">edit</a></li>
            }
            <li><a class="btn" href="@routes.Posts.create()">Create new post</a> as @Application.getLocalUser(session).getName</li>
        </ul>




    </div>
</div>







}
