@import model._

@(postForm: Form[Post], blogName: String) @main("Create post") {


    <!-- Codemirror and marked dependencies -->
    <link rel="stylesheet" href="@routes.Assets.at("codemirror/lib/codemirror.css")">
    <script src="@routes.Assets.at("codemirror/lib/codemirror.js")"></script>
    <script src="@routes.Assets.at("codemirror/mode/markdown/markdown.js")"></script>
    <script src="@routes.Assets.at("codemirror/addon/mode/overlay.js")"></script>
    <script src="@routes.Assets.at("codemirror/mode/xml/xml.js")"></script>
    <script src="@routes.Assets.at("codemirror/mode/gfm/gfm.js")"></script>
    <script src="@routes.Assets.at("javascripts/marked.js")"></script>

    <!-- HTML editor CSS and JavaScript -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/components/htmleditor.css")">
    <script src="@routes.Assets.at("javascripts/components/htmleditor.min.js")"></script>

    @if(postForm.hasGlobalErrors) {
        <p class="error">
        @postForm.globalError.message
        </p>
    }


    <h3 class="uk-h3">Create new blog post as @Application.getLocalUser(session).getName</h3>
    @helper.form(action = routes.Posts.save(), 'id -> "createpostForm") {
        @helper.textarea(postForm("name"), '_label -> "Title", 'cols -> "100", 'rows -> "2")
        @helper.textarea(postForm("body"), '_label -> "Text", 'cols -> "100", 'rows -> "20", Symbol("data-uk-htmleditor") -> "{markdown:true}")
        <input type="submit" value="Submit">
    }
}
