@import model._
@import com.feth.play.module.pa.views.html._

@(post: Post, user: User) @main("Detail post") {

    Name from session(auth):
    @if(user != null) {
        <p>@user.getName</p>
    } else {
        <p>not logged</p>
    }

    <h3>@post.getHeader</h3>
    <p>@post.getBody</p>
    <hr/>

    <h4>Comments:</h4>
    @for(comment <- post.getComments) {
        <p>@comment.getBody</p>
        <small>By a @comment.getName</small>
        <hr/>
    }

    @currentAuth() { auth =>
        @if(auth != null) {
            <h3>Add a comment as @user.getName</h3>
            @helper.form(action = routes.Application.addComment(post.getRid().toString())) {

                <textarea name="body" cols="60" rows="10"></textarea> <br>
                <input type="submit" value="Submit">
            }
        } else {
            <p>Чтобы оставить комментарии необходимо авторизироваться</p>
        }

    }

    <script>
        jsRoutes.controllers.Application.a

    </script>

}
