@import model._

@(post: Post, user: User) @main(post.getHeader) {

    Name from session(auth):
    @if(user != null) {
        <p>@user.getName</p>
    } else {
        <p>not logged</p>
    }

    <div id="blogpostContainer" data-post-id="@post.getRid()">
        <h3>@post.getHeader</h3>
        <p>@post.getBody</p>
        <hr/>
    </div>

    <div id="commentsContainer">
        <h4>Comments:</h4>
        @for(comment <- post.getComments) {
            <p>@comment.getBody</p>
            <small>By a @comment.getName</small>
            <hr/>
        }
    </div>


    @if(user != null) {
        <h3>Add a comment as @user.getName</h3>
        <form id = "commentForm">
            <textarea name="body" cols="60" rows="10"></textarea> <br>
            <input type="submit" value="Submit">
        </form>
    } else {
        <p>Чтобы оставить комментарии необходимо авторизироваться</p>
    }



    <script src="@routes.Assets.at("javascripts/sendcomment.js")" type="text/javascript"></script>


}
