@import models._

@(postId: UUID, postForm: Form[Post]) @main("Edit post") {

    <!-- Codemirror and marked dependencies -->
    <link rel="stylesheet" href="@routes.Assets.versioned("codemirror/lib/codemirror.css")">
    <script src="@routes.Assets.versioned("codemirror/lib/codemirror.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/mode/markdown/markdown.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/addon/mode/overlay.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/mode/xml/xml.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/mode/gfm/gfm.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/marked.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/blog/exit_confirmation.js")"></script>

    <!-- HTML editor CSS and JavaScript -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/components/htmleditor.css")">
    <script src="@routes.Assets.versioned("javascripts/components/htmleditor.min.js")"></script>

    @if(postForm.hasGlobalErrors) {
        <p class="error">
        @postForm.globalError.message
        </p>
    }

    <h3 class="uk-h3">Edit post</h3>
    @helper.form(action = routes.Posts.doEdit(postId)) {

        @helper.textarea(postForm("title"), '_label -> "Title", 'cols -> "100", 'rows -> "2", '_showConstraints -> false)
        @helper.textarea(postForm("content"), 'id -> "postBody", '_label -> "Text", '_showConstraints -> false,     Symbol("data-uk-htmleditor") -> "{markdown:true}")
        @helper.checkbox(postForm("isPrivate"))
        @*TODO helper*@
        <input type="hidden" name="id" value="@postId" />

        <div>
            <input type="submit" value="Save this post"> or
            <a href="@routes.Application.admin()" class="btn">Cancel</a>
        </div>
    }

}
