@import models._

@(postId: String, postForm: Form[Post]) @main("Edit post") {

    <!-- Codemirror and marked dependencies -->
    <link rel="stylesheet" href="@routes.Assets.versioned("codemirror/lib/codemirror.css")">
    <script src="@routes.Assets.versioned("codemirror/lib/codemirror.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/mode/markdown/markdown.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/addon/mode/overlay.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/mode/xml/xml.js")"></script>
    <script src="@routes.Assets.versioned("codemirror/mode/gfm/gfm.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/marked.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/blog/autosave.js")"></script>

    <!-- HTML editor CSS and JavaScript -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/components/htmleditor.css")">
    <script src="@routes.Assets.versioned("javascripts/components/htmleditor.min.js")"></script>

    @if(postForm.hasGlobalErrors) {
        <p class="error">
        @postForm.globalError.message
        </p>
    }

    <h3 class="uk-h3">Edit post</h3>
    @helper.form(action = routes.Posts.doEdit(postId), 'id -> "postForm", Symbol("data-post-id") -> postId) {


        @helper.textarea(postForm("title"), 'id -> "titleArea", '_label -> "Title", 'cols -> "100", 'rows -> "2", '_showConstraints -> false)
        <div id="status" class="nochange">no change</div>
        @helper.textarea(postForm("content"), 'id -> "contentArea", '_label -> "Text", '_showConstraints -> false,     Symbol("data-uk-htmleditor") -> "{markdown:true}")
        @helper.checkbox(postForm("isPrivate"), 'id -> "privateCheckBox")
        @*TODO helper*@
        <input type="hidden" name="id" value="@postId" />
    }

}
