@import model._

@(postId: String, user: User, blogpostForm: Form[Post]) @main("Edit post") {


    @helper.form(action = routes.BlogPosts.update(postId)) {

        @helper.textarea(blogpostForm("header"), '_label -> "Title", 'cols -> "100", 'rows -> "2")
        @helper.textarea(blogpostForm("body"), '_label -> "Text", 'cols -> "100", 'rows -> "20")



        <div>
            <input type="submit" value="Save this post"> or
            <a href="@routes.Application.admin()" class="btn">Cancel</a>
        </div>

    }


}
