@import models._
@import models.user.User
@import utils._

@*TODO name is not url*@
@(page: Page, archives: List[Post])
@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int) = @{
// Generate the link
routes.Application.index(newPage)
}

@main("Zella blog") {
@*markdown parser and code highlighter*@
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/marked.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/highlight.min.js")"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/highlight.min.css")">


<div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-3-4">

        @for(post <- page.getList) {

        <article class="uk-article">

            <h1 class="uk-article-title">
                <a href="@routes.Posts.detail(post.getId)">@post.getTitle</a>
            </h1>

            <p class="uk-article-meta">Written by @post.getUser.getName on
                @TextUtils.toReadableDate(post.getCreationDate)</p>
            @*<p class="blog-content">@TextUtils.truncateStringLineBreak(post.getBody, 10)</p>*@
            <p class="blog-content">@post.getHtmlPreview</p>

            <p>
                <a class="uk-button uk-button-primary" href="@routes.Posts.detail(post.getId)">Continue
                    Reading</a>

            </p>

        </article>
        }


        @if(page.getTotalPages > 1) {
        <ul class="uk-pagination">

            @if(page.hasPrev) {
            <li><a href="@link(page.getPageIndex - 1)"><i class="uk-icon-angle-double-left"></i></a></li>
            } else {
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            }

            @for(x <- TemplateHelpers.pagingRange(page.getTotalPages, 3, page.getPageIndex)) {
            @if(page.getPageIndex == x) {
            <li class="uk-active"><span>@x</span></li>
            >
            } else {
            <li><a href="@link(x)"><span>@x</span></a></li>
            >
            }
            }

            @if(page.hasNext) {
            <li><a href="@link(page.getPageIndex + 1)"><i class="uk-icon-angle-double-right"></i></a></li>
            } else {
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
            }

        </ul>
        }


    </div>


    @*TODO*@
    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box uk-text-center">

            <a href="http://stackoverflow.com/users/1996639/zella">
                <img src="http://stackoverflow.com/users/flair/1996639.png" width="208" height="58" alt="profile for zella at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for zella at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a>

            <h3>Zella</h3>

        </div>
        <div class="uk-panel">
            <h3 class="uk-panel-title">Archives</h3>
            <ul class="uk-list uk-list-line">

                @for(p <- archives) {

                <li><a href="@routes.Posts.detail(p.getId)">@p.getTitle</a></li>

                }

            </ul>

        </div>
    </div>


</div>

<script>
    $ ( ".blog-content" ).each ( function ( index ) {
    var content = $ ( this ).text ( )
    $ ( this ).html ( content ) ;
    } ) ;
    hljs.initHighlightingOnLoad ( ) ;
</script>

}