@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        @*front-end framework*@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/uikit.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-2.1.4.min.js")"></script>
        @*front-end framework*@
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/uikit.min.js")"></script>
        @*need for calling routes from js*@
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/blog/styles.css")">
    </head>
    <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <nav class="uk-navbar uk-margin-large-bottom">
            <a href="https://github.com/zella/play-blog"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
            <a class="uk-navbar-brand uk-hidden-small" href="/">Zella blog</a>
            @*centered on small screens*@
            <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Zella blog</div>
        </nav>
            <div class="container">@content</div>
        </div>
    </body>
</html>


