@import models._
@import utils._

@(post: Post, archives: List[Post]) @main(post.getTitle) {
@*code highlighter*@
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/highlight.min.js")"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/highlight.min.css")">




    <div class="uk-grid" data-uk-grid-margin>

        <div class="uk-width-medium-3-4">

            <article class="uk-article">
                <div id="postContainer" data-post-id="@post.getId()">
                    <h1 class="uk-article-title">
                        @post.getTitle
                    </h1>

                    <p class="uk-article-meta">
                        Written by @post.getUser.getName on @TextUtils.toReadableDate(post.getCreationDate)</p>

                    <p class="post-content" style="display: none">@post.getContent</p>

                </div>
            </article>

            <div id="disqus_thread"></div>

        </div>

        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-text-center">

                <a href="http://stackoverflow.com/users/1996639/zella">
                    <img src="http://stackoverflow.com/users/flair/1996639.png" width="208" height="58" alt="profile for zella at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for zella at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                </a>

                <h3>Zella</h3>

            </div>
            <div class="uk-panel">
                <h3 class="uk-panel-title">Archives</h3>
                <ul class="uk-list uk-list-line">

                    @for(p <- archives) {

                    <li><a href="@routes.Posts.detail(p.getId)">@p.getTitle</a></li>

                    }

                </ul>
            </div>
        </div>

    </div>


<script>

    $ ( ".post-content" ).each ( function ( index ) {
      var content = $ ( this ).text ( )
      $ ( this ).html ( content ) ;
      $ ( this ).show();
    } ) ;

    hljs.initHighlightingOnLoad ( ) ;

</script>

<!--@*send comment ajax js*@-->
@*<!--@views.html.comment.sendcomment()-->*@


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '@config.Config.getInstance().getDisqusId';
    var disqus_identifier = '@post.getId';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
    powered by Disqus.</a></noscript>


}
