@import models._
@import utils._

@(post: Post) @main(post.getTitle) {
    @*markdown parser and code highlighter*@
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/marked.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/highlight.min.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/highlight.min.css")">

    <article class="uk-article">
        <div id="postContainer" data-post-id="@post.getTitle()">
            <h1 class="uk-article-title">
            @post.getTitle
            </h1>

            <p class="uk-article-meta">
                Written by @post.getUser.getName on @TextUtils.toReadableDate(post.getCreationDate)</p>

            <p class="post-content">@post.getContent</p>
            <hr/>
        </div>
    </article>

    @*<!--<h2 class="uk-h2">Комментарии</h2>-->*@
    @*<!--<ul class="uk-comment-list" id="commentsContainer">-->*@

    @*<!--@for(c <- post.getComments) {-->*@
        @*<!--<li>-->*@
        @*<!--@views.html.comment.comment(c)-->*@
        @*<!--</li>-->*@
    @*<!--}-->*@
    @*<!--</ul>-->*@


    @*<!--@if(user != null) {-->*@
        @*<!--<h3>Add a comment as @user.getName</h3>-->*@
        @*<!--<form id = "commentForm">-->*@
            @*<!--<textarea name="body" cols="60" rows="10"></textarea> <br>-->*@
            @*<!--<input type="submit" value="Submit">-->*@
        @*<!--</form>-->*@
    @*<!--} else {-->*@
        @*<!--<p>Чтобы оставить комментарии необходимо авторизироваться</p>-->*@
    @*<!--}-->*@
    <script>
    hljs.initHighlightingOnLoad ( ) ;
    var marked_ = marked.setOptions ( {
    renderer : new marked.Renderer ( ),
    gfm : true,
    tables : true,
    breaks : true,
    pedantic : false,
    sanitize : true,
    smartLists : true,
    smartypants : false
    } ) ;
    $ ( ".post-content" ).html ( marked_ ( $ ( ".post-content" ).text ( ) ) ) ;
    </script>

    <!--@*send comment ajax js*@-->
    @*<!--@views.html.comment.sendcomment()-->*@

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'zellablog';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


}
